:root {
    --background-color: #F1F1F1;
    --background-color-dark: #E6E6E6;
    --line-color: #C8C8C8;
    --line-color-black: #595959;
    --text-color: #404040;
    --red-elements: #E4271D;
    --red-elements-dark: #b82018;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    position: relative;
}

nav {
    background-color: var(--background-color-dark);
    border: 2px solid var(--line-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 2em;
    margin-bottom: 2em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: flex;
    gap: 0.5em;
}

nav ul li h1 {
    font-size: 18px;
    font-weight: 500;
}

nav ul li input {
    font-size: 16px;
    padding: 0.2em;
    border-radius: 0;
    border: 1px solid var(--line-color-black);
}

nav ul li button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--red-elements);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

nav ul li button:hover {
    background-color: var(--red-elements-dark);
}

main {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-bottom: 3em;
}

main section div.separador {
    border-top: 2px solid var(--line-color);
    padding: 0.5em 0;
}

main section div.separador h2 {
    font-size: 16px;
    font-weight: normal;
}

main section div.itens {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

main section div.itens div.device {
    border: 1px solid var(--line-color);
    width: 300px;
    height: 50px;
    display: flex;
    gap: 0.5em;
    transition: 200ms;
    cursor: pointer;
}

main section div.itens div.device:hover {
    background-color: var(--background-color-dark);
    border: 1px solid var(--line-color-black);
}

main section div.itens div.device div.info-device {
    overflow-y: hidden;
    position: relative;
    width: 100%;
}

main section div.itens div.device div.info-device img {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 20px;
    cursor: pointer;
    background-color: var(--line-color);
    border-radius: 50%;
    padding: 2px;
}

main section div.itens div.device div.info-device:hover {
    overflow-y: auto;
}

main section div.itens div.device div.info-device p {
    font-size: 12px;
    width: 88%;
}

main div.add-to-edit {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.384);
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

main div.add-to-edit form.container{
    background-color: var(--background-color);
    width: 500px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.534);
    padding: 1.5em 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    position: relative;
}

main div.add-to-edit form.container div.text-label {
    text-align: center;
    color: var(--text-color);
}

main div.add-to-edit form.container div {
    display: flex;
    flex-direction: column;
    width: 90%;
}

main div.add-to-edit form.container div input, select {
    font-size: 16px;
    padding: .5em; 
    border-radius: 10px;
    border: 1px solid var(--line-color);
}

main div.add-to-edit form.container div select {
    width: 65%;
}

main div.add-to-edit form.container div.action {
    position: absolute;
    right: 2em;
    bottom: 2em;
    
    flex-direction: row;
    justify-content: end;
    gap: .75em;
}

main div.add-to-edit form.container div.action button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

main div.add-to-edit form.container div.action button.save {
    background-color: rgb(26, 134, 26);
}
main div.add-to-edit form.container div.action button.save:hover {
    background-color: rgb(17, 94, 17);
}

main div.add-to-edit form.container div.action button.cancel {
    background-color: var(--red-elements);
}
main div.add-to-edit form.container div.action button.cancel:hover {
    background-color: var(--red-elements-dark);
}

.ativa {
    display: none;
}